<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body class="bg-gray-100 text-gray-800">
    <header class="header">
            <div class="banner">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="BK Logo">
                </div>
                <div class="text">
                    <h1>ĐẠI HỌC QUỐC GIA THÀNH PHỐ HỒ CHÍ MINH</h1>
                    <h2>TRƯỜNG ĐẠI HỌC BÁCH KHOA</h2>
                </div>
                <div class="login-button">
                    <button>Đăng nhập</button>
                </div>
            </div>
    </header>

    <footer>
        <div class="container">
            <div class="group1">
                <h2>LIÊN KẾT MẠNG XÃ HỘI</h2>
            
                <div class="social-links">
                    <a href="#"><img src="/static/images/icon-facebook 1.png" alt="Facebook"></a>
                    <a href="#"><img src="/static/images/icon-instagram 1.png" alt="Instagram"></a>
                    <a href="#"><img src="/static/images/logoYoutube 1.png" alt="YouTube"></a>
                    <a href="#"><img src="/static/images/logoLinkedIn 1.png" alt="LinkedIn"></a>
                    <a href="#"><img src="/static/images/logoTiktok 1.png" alt="TikTok"></a>
                </div>
            </div>
            
    
            <div class="contact-info">
                <div class="item-info">
                    <img src="/static/images/Map pin.png" alt="Location">
                    <span id="tiny">268 Lý Thường Kiệt, P.14, Q.10, TP. HCM</span>
                </div>
                <div class="item-info">
                    <img src="/static/images/Phone.png" alt="Phone">
                    <span id="tiny">(037) 945 5486</span>
                </div>
                <div class="item-info">
                    <img src="/static/images/Mail.png" alt="Email">
                    <span id="tiny">ssps@hcmut.edu.vn</span>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>